body {
  background: linear-gradient(to left, red, black);
  margin: 0;
  font-family: Arial, sans-serif;
}

.homepage {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.background-video {
  width: 100%;
  height: auto;
}

.preview-frame {
  position: absolute;
  bottom: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border: 1px solid #fff;
  z-index: 10;
  pointer-events: none; /* Prevent interaction */
  transition: left 0.1s ease-out; /* Smooth movement for preview frame */
}

.preview-video {
  width: 150px;
  height: 80px;
  object-fit: cover; /* Ensure the video scales properly */
  border: 2px solid #fff;
  border-radius: 5px;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: blue;
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.preview-image {
  width: 200px;
  height: 120px;
  object-fit: contain;
}

.hidden-video {
  display: none;
}

.offscreen-canvas {
  display: none;
}
